@font-face {
  font-family:qvbold;
  src: url(../Assests/Fonts/circular-bold.TTF);
}
@font-face {
  font-family:qvmedium;
  src: url(../Assests/Fonts/circulur-medium.TTF);
}
@font-face {
  font-family:qvblack;
  src: url(../Assests/Fonts/circulur-std-black.TTF);
}
@font-face {
  font-family:qvbook;
  src: url(../Assests/Fonts/circulur-std-book.TTF);
}
@font-face {
  font-family:qvstdmedium;
  src: url(../Assests/Fonts/FontsFree-Net-Circular-Std-Medium.ttf);
}
.box{
  width: 92%;
  height: auto;
  margin: 0 auto;
}
.qvrow{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
    }
    .qvrow>*{
      flex-shrink: 0;
      width: 100%;
      max-width: 100%;
      padding-right: calc(var(--bs-gutter-x) * .5);
      padding-left: calc(var(--bs-gutter-x) * .5);
      margin-top: var(--bs-gutter-y);
      }
  .col-qv-1{
    flex: 0 0 auto;
    width:8.33333333%;
  }
  .col-qv-2{
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .col-qv-3{
    flex: 0 0 auto;
    width: 25%;
  }
  .col-qv-4{
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .col-qv-5{
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .col-qv-6{
    flex: 0 0 auto;
    width: 50%;
  }
  .col-qv-7{
    flex: 0 0 auto;
    width: 58.33333333%;
  }
  .col-qv-8{
    flex: 0 0 auto;
    width:66.66666667%;
  }
  .col-qv-9{
    flex: 0 0 auto;
    width: 75%;
  }
  .col-qv-10{
    flex: 0 0 auto;
    width:83.33333333%;
  }
  .col-qv-11{
    flex: 0 0 auto;
    width:91.66666667%;
  }
  .col-qv-12{
    flex: 0 0 auto;
    width: 100%;
  }
.box_shadow_div{
    width: 100%;
    height: auto;
    box-shadow: 0 5px 10px 1px #ddd;
    margin: 30px 0px;
    border-radius: 8px;
    background-color:#FFF;
    padding: 0px;
}
.heading{
  color: #000000;
  font-family:adminmedium;
  font-size: 18px;
  margin-bottom: 12px;
}
.pd_20{
  padding:20px;
}

.box_shadow_div label{
    color: #818181;
    font-size: 14px;
    font-family: qvbook !important;
    display: block;
    margin: 0px;
}
.input_area{
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}
.input_area input{
    font-family: qvmedium !important;
    color: #000000;
    font-size: 15px;
    outline: none;
    background: #FFFFFF;
    border: 1px solid #E1E1E1;
    border-radius: 4px;
    padding: 8px;
    margin: 5px 0 15px 0;
    width: 100%;
    height: 40px;
}
.input_area textarea {
    font-family: qvmedium !important;
    color: #000000;
    font-size: 15px;
    outline: none;
    background: #FFFFFF;
    border: 1px solid #E1E1E1;
    border-radius: 4px;
    padding: 8px;
    margin: 5px 0 15px 0;
    width: 100%;
}
.input_area select{
    font-family: qvmedium !important;
    color: #000000;
    font-size: 15px;
    outline: none;
    background: #FFFFFF;
    border: 1px solid #E1E1E1;
    border-radius: 4px;
    padding: 8px;
    margin: 5px 0 15px 0;
    width: 100%;
    height: 40px;
}
.box_shadow_heading{
    color: #000000;
    font-size: 18px;
    font-family: qvstdmedium !important;
}

.qv_checkbox {
    width: auto;
    height: auto;
    float: left;
    display:inline-block;
}

.qv_checkbox .qv_checkbox_add_checkmark_label{
    color: #000;
    font-size: 16px;
    font-family: adminmedium !important;
    display: block;
    position: relative;
    padding-left: 33px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.qv_checkbox .qv_checkbox_add_checkmark_label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.qv_add_checkmark {
    position: absolute;
    top:2px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 5px;
}
.checkbox_space{
  width: 100%;
  height: auto;
  display: inline-block;
}
.qv_checkbox input:checked~.qv_add_checkmark {
    background-color: #1EC26B;
    border-radius: 5px;
}
.qv_add_checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.qv_checkbox input:checked~.qv_add_checkmark:after {
    display: block;
}
.qv_checkbox .qv_add_checkmark:after {
    left: 8px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.save_btn{
    background: #0A64F9;
    font-family: CircularSTDBook !important;
    font-size: 16px;
    color: #fff;
    padding: 10px 40px;
    border-radius: 4px;
    cursor: pointer;
}
.input_area .css-4jnixx-MuiStack-root{
  padding-top: 0px;
}
.input_area fieldset{
  display: none
}
.input_area .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input{
  padding:0px 8px;
}
.button_area{
    display: flex;
    align-items: center;
}
.inputredio[type="radio"]:checked,
.inputredio[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
.inputredio[type="radio"]:checked + label,
.inputredio[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
.inputredio[type="radio"]:checked + label{
  color:#0A64F9;
}
.inputredio[type="radio"]:checked + label:before,
.inputredio[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
.inputredio[type="radio"]:checked + label:before{
  border: 1px solid #0A64F9;
}
.inputredio[type="radio"]:checked + label:after,
.inputredio[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 14px;
    height: 14px;
    background: #0A64F9;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.inputredio[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.inputredio[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
}

.box_shadow_div_heading{
  width: 100%;
  height: auto;
  box-shadow: 0 5px 10px 1px #ddd;
  margin: 30px 0px;
  border-radius: 8px;
  background-color: #FFF;
}
.page_heading_area{
  width: 100%;
  height: auto;
  padding:20px;
  border-bottom: 1px solid #E1E1E1;
}
.page_heading_area h1{
  font-size: 18px;
  font-family:adminmedium !important;
}
.box_shadow_innerdiv{
  padding: 20px;
}
.heading_black{
  font-size:18px;
  font-family:adminbold !important ;
}
.input_rediobutton_area{
  width: auto;
  display: inline-block;
  height: auto;
  margin-right: 20px;
}
.mt10{
  margin-top: 10px;
}
.blue_btn{
  font-size: 16px;
  background: #0a64f9;
  color: #fff;
  border-radius: 4px;
  padding: 8px 25px;
  width: auto;
  cursor: pointer;
  font-family: qvbook;
}
.blue_btn:hover, .black_btn:hover, .grey_btn:hover{
  opacity: 0.8;
}
input.blue_btn{
  margin: 0px;
  background: #0a64f9;
  width: auto;
  padding: 8px 25px;
  color: #fff;
}
.black_btn{
  font-size: 16px;
  background: #000;
  color: #fff;
  border-radius: 4px;
  padding: 8px 25px;
  width: auto;
  cursor: pointer;
  font-family: qvbook;
}
.grey_btn{
  font-size: 16px;
  background: #878787;
  color: #fff;
  border-radius: 4px;
  padding: 8px 25px;
  width: auto;
  cursor: pointer;
  font-family: qvbook;
  margin-left:10px;
}
.btnsamewidth{
  width: 120px;
}
.text_right{
  text-align: right;
}
.table_main_area{
  width: 100%;
  height: auto;
}
.table_header{
  background: #253338;
  display: flex;
  padding: 10px 20px;
}
.table_header p{
  font-size:14px;
  color: #FFF;
  font-family:qvbook;
}
.table_body{
  width: 100%;
  height: auto;
  display: inline-block;
}
.table_header_sticky{
  position: sticky;
  top: 0;
  z-index: 1;
  border-radius: 8px;
  background: #FFF;
}
.table_row{
  display: flex;
  padding: 10px 20px;
  border-bottom: 1px solid #E8E8E8;
}
.table_row p{
  color: #000;
  font-size: 14px;
  font-family:qvmedium;
}
.table5{
  width:5%;
}
.table10{
  width:10%;
}
.table15{
  width:15%;
}
.table20{
  width:20%;
}
.table25{
  width:25%;
}
.table30{
  width:30%;
}
.table35{
  width:35%;
}
.table40{
  width:40%;
}
.table45{
  width:45%;
}
.table50{
  width:50%;
}
.table55{
  width:55%;
}
.table60{
  width:60%;
}
.table65{
  width:65%;
}
.table70{
  width:70%;
}
.table75{
  width:75%;
}
.table80{
  width:80%;
}
.table85{
  width:85%;
}
.table90{
  width:90%;
}
.table_header_top{
  width: 100%;
  height: auto;
  padding: 10px 20px;
}
.table_header_top h1{
  color: #000000;
  font-family: adminmedium;
  font-size: 18px;
}
.icon_img{
  width: auto;
  height: auto;
  cursor: pointer;
}


.css-13cymwt-control {
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: default;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  height: auto !important;
  outline: 0!important;
  position: relative;
  -webkit-transition: all 100ms;
  transition: all 100ms;
  background-color: hsl(0, 0%, 100%);
  border:1px solid #818181 !important;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
min-height: 0px !important;}


.css-b62m3t-container {
  position: relative;
  box-sizing: border-box;
 
  padding: 20px 0 !important;
}


.css-wsp0cs-MultiValueGeneric {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-radius: 2px;
  color: hsl(0, 0%, 20%);
  font-size: 90% !important;
  padding: 4px !important;
  /* padding-left: 6px; */
  box-sizing: border-box;
  background-color: lightgray !important;
margin: 2px !important;
}

/* storesetting css */
@font-face {
  font-family: CircularBold;
  src: url("../Assests/Fonts/circular-bold.TTF");
}

@font-face {
  font-family: CircularMedium;
  src: url("../Assests/Fonts/circulur-medium.TTF");
}

@font-face {
  font-family: CircularSTDBlack;
  src: url("../Assests/Fonts/circulur-std-black.TTF");
}

@font-face {
  font-family: CircularSTDBook;
  src: url("../Assests/Fonts/circulur-std-book.TTF");
}

@font-face {
  font-family: CircularSTDMedium;
  src: url("../Assests/Fonts/FontsFree-Net-Circular-Std-Medium.ttf");
}


.store-setting-py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.store-setting-py-2{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.store-setting-px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}
.store-setting-px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.store-setting-mx-10 {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.store-setting-my-4 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.store-setting-mx-2 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.store-setting-store-setting-div {
  height: auto;
}

.store-setting-shadow {
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.store-setting-bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.store-setting-rounded-lg {
  border-radius: 0.5rem;
}

.store-setting-opacity-100 {
  opacity: 1;
}

.store-setting-pt-1-5{
  padding-top: 1.5rem;
}

.store-setting-pb-1{
  padding-bottom: 1rem;
}

.store-setting-pb-1-5{
  padding-bottom: 1.5rem;
}

.store-setting-input{
  border: 1px solid #E3E3E3;
  border-radius: 4px;
  opacity: 1;
}

.store-setting-gry{
  color: #818181;
}

.store-setting-color-white{
  color: #fff;
}

.store-setting-color-black{
  color: #000;
}

.store-setting-bg-white{
  background: #fff;
}

.store-setting-bg-black{
  background: #000;
}

.store-setting-border-gry{
  --tw-border-opacity: 1;
  border-color: rgb(225 225 225 / var(--tw-border-opacity));
}
.store-setting-switch{
  float: right;
}
.react-datepicker-wrapper{
  width: 100%;
}
.store-setting-top-3{
  top: 3rem;
}

.store-setting-border-radius{
  border-radius: 0.375rem;
}
.css-4jnixx-MuiStack-root{
  flex-direction: column !important;
}

.store-setting-btn{
  font-size: 16px;
  background: #0a64f9;
  color: #fff;
  border-radius: 4px;
  opacity: 1;
  padding: 8px 25px;
  float: right;
  margin-right: 2.5rem;
}

.box-padding-5{
  padding-top: 2rem;
}

.store-setting-w-full {
  width: 100%;
}

.store-setting-checkmark-td{
  text-align: center;
}

.store-setting-checkmark-td input{
  width: 20px;
  height: 20px;
}

.store-setting-flex {
  display: flex;
  padding: 1rem 2rem 0rem 2rem;
}

.store-setting-flex-child {
  flex: 1;
}  

.store-setting-flex-child:first-child {
  margin-right: 20px;
} 

/* store setting alerts css */

.store-setting-main-div{
  opacity: 1;
  border-radius: 0.5rem;
  margin: 2rem 2.5rem;
  padding: 2rem 2rem 1rem 2rem;
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.store-setting-h2 {
  font-family:  CircularBold !important;
  font-size: 18px;
  display: inline-block;
}

.store-setting-p{
  font-family:  CircularSTDBook !important;
  font-size: 12px;
  color: #7B7B7B;
  padding-bottom: 1rem;
}

.store-setting-head-div{
  font-family:  CircularSTDBook !important;
  font-size: 14px;
  text-align: left;
  padding-bottom: 0.5rem;
  color: #6A6A6A;
}

.store-setting-input-div{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  /* border: 1px solid #E3E3E3; */
  border-radius: 4px;
  overflow: hidden;
  opacity: 1;
  margin-bottom: 2rem;
}

.store-setting-alert-input{
  font-family:  CircularSTDMedium !important;
  font-size: 16px;
  width: 100%;
  padding: 0.5rem 0.5rem;
  border: 1px solid #E3E3E3;
  border-radius: 4px;
  opacity: 1;
}

.store-setting-table-div{
  opacity: 1;
  border-radius: 0.5rem;
  margin: 2rem 2.5rem;
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
.store-setting-table {
  width: 100%;
  margin-top: 1.5rem;
}

.store-setting-table-div p{
  font-family: CircularSTDBook !important;
  font-size: 12px;
  color: #7B7B7B;
  padding: 1rem 2rem 1rem 2rem;
}
.store-setting-table thead {
  background: #000;
  color: #fff;
}

.store-setting-table th {
  font-family:  CircularSTDBook !important;
  font-size: 15px;
  text-align: center;
  padding: 8px 20px;
  width: 33.33%;
}

.store-setting-table-tr td{
  padding: 1rem 0rem 1rem 2rem;
}

.store-setting-table-tr{
  font-family:  CircularSTDMedium !important;
  font-size: 18px;
  border-bottom: 1px solid #E8E8E8;
}

.store-setting-table-p{
  font-family:  CircularSTDMedium !important;
  font-size: 16px;
}

.store-setting-span{
  font-family:  CircularSTDBook !important;
  font-size: 12px;
  color: #7B7B7B;
  padding-bottom: 1rem;
}

.store-setting-error{
  font-family:  CircularSTDBook !important;
  color: red;
  font-size: 14px;
}

.css-1xc3v61-indicatorContainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: color 150ms;
  transition: color 150ms;
  padding: 8px;
  box-sizing: border-box;
  color:#000 !important;
}

.css-t3ipsp-control{
  -webkit-box-align: center;
  align-items: center;
  cursor: default;
  display: flex;
  -webkit-box-flex-wrap:wrap;
  flex-wrap: wrap;
  -webkit-box-pack:justify;
  justify-content: space-between;
  min-height: 75px !important;
  outline: 0 !important;
  position: relative;
  transition: all 100ms;
  border-radius: 4px;
  border:1px solid #E1E1E1 !important;
  box-shadow: 0 0 0 1px #7B7B7B !important;
  box-sizing: border-box;
}

.q_product_image{
  color: #818181;
  list-style-type: none;
  font-family: CircularSTDBook !important;
  font-size: 14px;
  position: relative;
 
}
.related-product{
  color: #000000;
    font-size: 18px;
    font-family: CircularSTDMedium !important;
}

.q_add_variant_attributes{
  border:2px solid #0A64F9;
  padding: 14px;
  border-radius: 4px;
}