.date-range-custom-parent {
    .date-range-custom {
        flex-basis: 30%;
        max-width: 30%;
    }
    .pt-4 {
        padding-top: 0;
        margin-top: 0.7rem;    
    }
    .save_btn {
        width: auto;
        padding-inline: 25px;
        
    }
}
.custom-table {
    width: 100%;
    overflow-x: auto;
    max-width: 100%;
    overflow: auto;
    position: relative;
    &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
      }
    
    &::-webkit-scrollbar-track {
        border-radius: 0 5px 5px 0;
        background-color: #fff;
      }
       
      /* Handle */
    &::-webkit-scrollbar-thumb {
        background: #e2e2e2; 
        border-radius: 5px;
    }
    &::-webkit-scrollbar-button{
        display: none;
    }
    table {
        width: 100%;
        tfoot{
            position: sticky;
            bottom: 0;
            background: #F8F8F8;
            color: #000;
            z-index: 4;
            td {
                font-family: CircularSTDMedium;
                font-size: 15px;
                line-height: 21px;
                color: #000;
            }
        }
        thead {
            background-color: #253338;
        }
        th {
            text-align: left;
            color: #fff;
            font-weight: 500;
            font-size: 0.875rem;
            line-height: 1.5rem;
            letter-spacing: 0.01071em;
            display: table-cell;
            padding: 8px 16px;
            max-width: 200px;
            min-width: 130px;
            font-family: CircularSTDBook;

        }
        
        td {
           
            word-break: break-word;
            border-bottom: 1px solid rgba(224, 224, 224, 1);
            font-family: CircularSTDBook;
            padding: 8px 16px;
            font-size: 13px;
            line-height: 19px;
            span{
            display: block;
            font-size: 11px;
            line-height: 15px;
            color: #747474;
            opacity: 1;
            
            }
            
        }
        .left-sticky {
            position: sticky;
            width: 60px;
            min-width: auto;
            text-align: center;
            background-color: #253338;
            cursor: pointer;
            &:after {
                content: "";
                border-right: 1px solid #444E51;
                position: absolute;
                right: 0;
                height: 20px;
                top: 50%;
                right: 8px;
                transform: translate(-50%, -50%);
            }
            img {
                filter: brightness(0) saturate(100%) invert(100%) sepia(1%) saturate(5800%) hue-rotate(260deg) brightness(103%) contrast(101%);
            }
        }
        .right-sticky {
            position: sticky;
            right: 0;
            width: 60px;
            min-width: auto;
            text-align: center;
            background-color: #253338;
            cursor: pointer;
            img {
                filter: brightness(0) saturate(100%) invert(100%) sepia(1%) saturate(5800%) hue-rotate(260deg) brightness(103%) contrast(101%);
            }
        }
    }
}

// css for measure table 

.d-flex{
    display: flex;
  }
  .flex-end{
    justify-content: flex-end;
  }
  .mb-20{
    margin-bottom: 20px;
  }
  .align-center{
    align-items: center;
  }
  .pr-20{
    padding-right: 20px;
  }
  .px30-py15{
    padding: 15px 30px;
  }
  .pl-30{
    padding-left:30px;
  }
  .px-30{
    padding: 0 30px;
  }
  .mb-10{
    margin-bottom: 10px;
  }
  .mb-20{
    margin-bottom: 20px;
  }
  .measure-container{
    max-width: 969px;
    max-height: 652px;
    overflow-y: auto;
    background-color: #FFFFFF;
    border-radius: 8px;
    padding-bottom: 30px;
    .btn {
        border-radius: 4px;
        border: none;
        outline: none;
        font-size: 14px;
        line-height: 20px;
        color: #000;
        min-width: 97px;
        height: 40px;
        padding: 6px 12px;
        &.btn-gray{
          background-color: #E8E8E8;
        }
        &.btn-blue{
          background: #0A64F9;
          color: #fff;
        }
      }
  }
  .dialog-heading{
    color: #000000;
    font-size: 18px;
    line-height: 26px;
    margin: 0;
    font-weight: 400;
  }
  .form-title{
    color: #000000;
    font-size: 15px;
    line-height: 21px;
    margin: 0;
    margin-bottom: 5px;
    font-weight: 400;
  }
  .line-through{
    display: block;
    height: 1px;
    background-color: #E5E5E5;
    flex: 1;
  }
  .sub-title{
    color: #5E5E5E;
    font-size: 12px;
    line-height: 16px;
    word-break: break-word;
    margin: 0;
  }
  
  input[type="checkbox"]{
    width: 20px;
    height: 20px;
  }
  /* width */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 0 5px 5px 0;
    background-color: #fff;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #e2e2e2; 
    border-radius: 5px;
  }
  ::-webkit-scrollbar-button{
    display: none;
  }